@font-face {
  font-family: 'rainyhearts';
      src: url('/fonts/rainyhearts.ttf');
}
@font-face {
  font-family: 'pixelade';
      src: url('/fonts/PIXELADE.TTF');
      font-stretch:expanded;
}

body{
  background-color:#26d4c4;
  overflow:hidden;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color:#fff;
  font-family:'pixelade';
  margin:0px;
}

.centered-background{
  height:100vh;
  width:100vw;
  margin-left:auto;
  margin-right:auto;
  background-size:contain;
  background-repeat:no-repeat;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  flex-wrap:wrap;
  background-position: center;
}
.centered-background-love{
  background-image: url("/images/biffy-love-new.png");
  max-height:750px;
  max-width:750px;
}
.centered-background-love p{
  width:240px;
}
.background-rect{
  max-width:690px;
  background-color:#510c7e;
  border: solid 30px #fb8cb9;
  width:70vw;
  height:70vh;
  padding:20px;
  text-align: center;
  overflow-y:auto;
}
.centered-background-love section{
  position:relative;
  top:-10%;
}
section{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  flex-wrap:wrap;
}
.centered-background-love h1{
  margin-top:80px;
}
h1{
  font-size: 48px;
  width:100%;
  margin:0px;
  font-family:'rainyhearts';
}
p{
  margin:0px;
  font-size:18px;
  width:100%;
  line-height: 14px;
  margin-top: 15px;
  margin-bottom:15px;

}
.artist-statement p{
  font-family:sans-serif;
  line-height: initial;
}
.artist-statement a{
  font-family:sans-serif;
  line-height: initial;
}
a{
  color:#fff;
}
a:hover{
  color:#aaa;
}
.centered-background-love a{
  font-size: 28px;
  display:block;
  width:100%;
}
@media only screen and (max-width: 480px) {
  .centered-background-love section{
    top:-5%;
  }
  h1{
    font-size:36px;
    margin-top:30px;
  }
  .centered-background-love h1{
    font-size:36px;
    margin-top:40px;
  }
  .centered-background-love a{
    font-size:16px;
    line-height: 16px;
  }
  .centered-background-love p{
    font-size:14px;
    line-height: 12px;
    margin-top: 5px;
    margin-bottom:5px;
  }
  .centered-background-love p{
    width:150px;
  }
}
